<h1>少年ケンシのホームページ</h1>
よろしくな<br>
友だちになってくれよ！<br>
<img src="http://qr-official.line.me/L/GYM2bafnsr.png"><br>
<a href="https://line.me/R/ti/p/%40jgt2440z"><img height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>